.navbar-brand:first-letter {
  color: forestgreen;
  font-size: 1.25em;
}
div[class="container"] {
  min-width: 220px;
}
a[class="nav-link"] {
  font-size: larger;
}
.footer {
  text-align: right;
}
.info-card {
  margin: 1em auto;
}
